SECRET_KEY=change-this-to-a-random-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password
DATABASE_URL=sqlite:///mwema.db
MTN_NUMBER=+256701913028
AIRTEL_NUMBER=+256784841119
WHATSAPP_NUMBER=256701913028
DELIVERY_FEE_KAMPALA=15000
DELIVERY_FEE_UPCOUNTRY=35000
